<!DOCYPE html>
<html>
    <head>
        <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='burpi.css') }}" >
        <script type="text/javascript" src="{{ url_for('static', filename='jquery-2.1.1.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='jquery.flot.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='burpi.js') }}"></script>
    </head>
    <body>
        <div id="chart">
            <div id="chart-placeholder">
            </div>
        </div>
    </body>
</html>
